body{
	font-family:'Libre Baskerville', serif;}
	
.navbar 
{
    border-radius: 0;
}
.navbar-new 
{
    background-color: #F3F3E6;
    border-color: #F3F3E6;
}
/*colour of left hand text on navbar*/
.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus
 {
    color: #3e3328;
	font-size:28px;
}
.navbar-new .navbar-nav > li > a 
{
    color: #3e3328;
	font-size:22px;
}
/*colour behind nav list items*/
.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus 
{
    background-color:#FFF ;
}
.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus 
{
    color: #3e3328;
    background-color: #FFF;
}

.navbar-new .navbar-text
 {
    color: #3e3328;
}

.navbar-new .navbar-toggle 
{
    border-color: #3e3328;
}

.navbar-new .navbar-toggle:hover,
.navbar-new .navbar-toggle:focus
 {
    background-color: #3e3328;
}

.navbar-new .navbar-toggle .icon-bar 
{
    background-color: #3e3328;
}
